# Ignore
*.csv
.log
.Rapp.history
.RData
.Rhistory
.Rproj.user/
.Rproj.user
*.tif
*.R.save
*.swp
cache/
modules/
#This hides all LBMR files in Ian's local repo
outputs/
#this is to hide all 700 years of cohortData in Ian's local repo
temp
