# Ignore
*.csv
.log
.Rapp.history
.RData
.Rhistory
.Rproj.user/
.Rproj.user
*.tif
*.R.save
*.swp
cache/
modules/
#This hides all LBMR files in Ian's local repo
outputs/
#this is to hide all 700 years of cohortData in Ian's local repo
temp
*.pdf

inputs/

## these are downloaded automatically, no point in caching
figures/*Badge.png

## html cache/files
*_cache/
*_files/
